<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="loginStyle.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        
        <button id="signupButton">Sign up</button>
        
        <div id="login">
            <h1>User Login</h1>
            <input class="userInp" id="username" type="text" placeholder="Username" required>
            <input id="password" class="userInp" type="password" placeholder="Password">
        </div>
        
        {{> footer}}
    </body>
</html>