#login {
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    margin:auto;
    width:50%;
    height:70%;
    text-align: center;
}

.userInp {
    width:30%;
    height:5%;
    position:absolute;
    left:0px;
    right:0px;
    margin:auto;
}

#username {
    top:40%;
}

#password {
    top:50%;
}

#signupButton {
    position: absolute;
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    right:1%;
    top:1%;
}

#signupButton {
    background-color: white; 
    color: black; 
    border: 2px solid grey;
}

#signupButton:hover {
    background-color: grey;
    color: white;
}