#signup {
    position:absolute;
    right:38%;
    bottom:0px;
    top:0px;
    margin:auto;
    width:25%;
    height:50%;
    text-align: left;
}

#continueButton {
    background-color: grey;
    border: none;
    color: white;
    padding: 5px 60px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    right:0px;
    left:0px;
    margin:auto;
    position:absolute;
    bottom:10%;
}

#continueButton {
    background-color: white; 
    color: black; 
    border: 2px solid grey;
}

#continueButton:hover {
    background-color: grey;
    color: white;
}