<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="signupStyle.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        
        <form action="/congratulations" id="signup" method="post">
            <label>Enter your first name: </label><input name="firstName" type="text" placeholder="First Name" required>
            <br>
            <br>
            <label>Enter your last name: </label><input name="lastName" type="text" placeholder="Last Name" required/>
            <br>
            <br>
            <label>Enter your email address: </label><input name="emailAddr" type="email" placeholder="eg. whosemans@gmail.com" required/>
            <br>
            <br>
            <label>Enter your password: </label><input name="password1" type="password" required/>
            <br>
            <br>
            <label>Re-enter your password: </label><input name="password2" type="password" required/>
            <br>
            <br>
            <input id="continueButton" type="submit" value="Submit"/>
            
        </form>
        
        {{> footer}}
        
        <script>
            const todo = require('./todo.js');
            
        </script>
        
    </body>
    
</html>